# Environment
.env
.env.*

# Certificates
*.pem
*.key
*.pfx
*.p12
*.jks

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Oracle
*.dmp

# Database
db_data/
oracle_data/

# IDE
.vscode/
.idea/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/


# AWS
.aws/

# terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.env
.env.*
*.pem
*.key
*.log



